@model Resume.Models.ContactMe
@{
    ViewBag.Title = "Home Page";
}

<div class="container-fluid p-0">
    <!-- About-->
    <section class="resume-section" id="about">
        <div class="resume-section-content">
            <h1 class="mb-0">
                Ronit Patel
            </h1>
            <h3 class="mb-0">
                Computer Engineer
            </h3>
            <div class="subheading mb-5">
                <i class="fab fa fa-location-arrow"></i> Tumut,NSW-2720
            </div>
            <p class="lead mb-5"> Qualified and experienced Computer Engineering professional, as well as demonstrated success in applying engineering principles to the field. Additional expertise in computer basic software and operating system, planning, installing, testing, troubleshooting, debugging and designing a web application. Outstanding, problem-solving, and analytical skills with the ability to work effectively with people at all levels, whether independently or as part of a team.  </p>

        </div>
    </section>
    <hr class="m-0" />

    <!-- Experience-->
    <section class="resume-section" id="experience">
        <div class="resume-section-content">

            <h2 class="mb-5"> Experience</h2>
            <div class="d-flex flex-column flex-md-row justify-content-between mb-5">
                <div class="flex-grow-1">
                    <h3 class="mb-0">IT Technical Support Executive</h3>
                    <div class="subheading mb-3">KOCHAR TECH. </div>
                    <p>  •	Maintain and installing new software or application and operating system. </p>
                    <p>   •	Software troubleshoots and resolves issue related monitoring system.</p>
                    <p>  •	Manage third party software with IT service desk.</p>
                    <p>  •	Set up a new user account and handle profiles.</p>
                    <p> •	Testing and evaluate new technology with the client.</p>
                    <p>   •	Provide Customer support with documentation and relevant reports. </p>
                </div>
                <!--    <div class="flex-shrink-0"><span class="text-primary">October 2017 - March 2018</span></div>-->
            </div>
    <div class="d-flex flex-column flex-md-row justify-content-between mb-5">
        <div class="flex-grow-1">
            <h3 class="mb-0">Junior Software Programmer</h3>
            <div class="subheading mb-3">BIT INFO TECH. Ltd</div>
            <p>   •	Presented various project and handling web application data handling.</p>
            <p>   •	Contact Customer for requirements and implementation.</p>
            <p>  •	Implements, Installing and support basic Software required for the organization.</p>
            <p>•	Database design with manage data for a web application.</p>
            <p>  •	Front-End working for web design using CSS and HTML. </p>
            <p>  •	Back-End working for Database using MS SQL. </p>

        </div>
        <!--   <div class="flex-shrink-0"><span class="text-primary">January 2017 - March 2017</span></div>-->
            </div>
    <div class="d-flex flex-column flex-md-row justify-content-between">
        <div class="flex-grow-1">
            <h3 class="mb-0">Software Programmer (Intern)</h3>
            <div class="subheading mb-3">DHYEY CONSULTING SERVICES PVT.LTD</div>
            <p>I have completed an internship with the project "Face recognition attendance system". I used .NET, MS SQL.  </p>
        </div>
        <!--  <div class="flex-shrink-0"><span class="text-primary">May 2016 - June 2016</span></div>-->
            </div>
        </div>
    </section>
    <hr class="m-0" />
    <!-- Competencies-->
    <section class="resume-section" id="Competencies">
        <div class="resume-section-content">
            <h2 class="mb-5">Core Competencies </h2>
            <ul class="fa-ul mb-0">
                <li>
                    <span class="fa-li"><i class="fas fa-check"></i></span>
                    Flexible and adaptable with a proven ability to work productively in an environment that is demanding, fast-paced, high pressured, challenging and deadline-driven.
                </li>
                <li>
                    <span class="fa-li"><i class="fas fa-check"></i></span>
                    Reputation for being a well-organised team member, problem solver, highly adaptable to suit any situation or environment.
                </li>
                <li>
                    <span class="fa-li"><i class="fas fa-check"></i></span>
                    Proficient in system skills such as Operating System, Microsoft Office and ASP.NET.
                </li>
                <li>
                    <span class="fa-li"><i class="fas fa-check"></i></span>
                    Strong understanding of design for web development, Database design and environment.
                </li>
                <li>
                    <span class="fa-li"><i class="fas fa-check"></i></span>
                    Ability to stay focused on the outcome while managing and prioritising different project tasks.
                </li>
                <li>
                    <span class="fa-li"><i class="fas fa-check"></i></span>
                    Experienced with web development and testing.
                </li>
                <li>
                    <span class="fa-li"><i class="fas fa-check"></i></span>
                    Comprehensive understanding of ASP.NET Model-View-Controller (MVC) and basic knowledge of CSS, HTML, Java Script and Microsoft SQL.
                </li>
                <li>
                    <span class="fa-li"><i class="fas fa-check"></i></span>
                    Familiar with maintaining records of changes in data systems.
                </li>
                <li>
                    <span class="fa-li"><i class="fas fa-check"></i></span>
                    Excellent verbal and written communication skills with a demonstrated ability to develop and maintain productive relationships with internal and external stakeholders at all levels.
                </li>
            </ul>
        </div>
    </section>
    <hr class="m-0" />
    <!-- Interests-->
    <section class="resume-section" id="project">
        <div class="resume-section-content">
            <h2 class="mb-5">Key Academic Project</h2>
            <div class="d-flex flex-column flex-md-row justify-content-between mb-5">
                <div class="flex-grow-1">
                    <h3 class="mb-0">Online Examination Portal | VIT	 </h3><br />
                    <p>
                        The application which is used for online examination system using teacher and student anytime and anywhere. Which helps the teacher to manage and tracking question banks and question paper with student’s exam’s due date and Marks. Also, the student can access the exam in real-time and check the results of their exam.
                    </p>
                    <p>  Technologies: ASP.NET MVC, MS SQL, HTML, JavaScript, and CSS. </p>
                    <p>  Role: Front and Backend Development, Database Development. </p>
                </div>
                <div class="flex-shrink-0"><span class="text-primary"> 2021</span></div>
            </div>
            <div class="d-flex flex-column flex-md-row justify-content-between mb-5">
                <div class="flex-grow-1">
                    <h3 class="mb-0">Revel Event | GTU		 </h3><br />
                    <p>
                        A design of online Event Management was done which made by .NET and using CSS, HTML for design and front-end, and Database design on MS SQL. It was a project which was done keeping in mind Event Management.
                    </p>
                    <p>  Role: Led a team of four people to create a project. Developed a design of web development.  </p>
                </div>
                <div class="flex-shrink-0"><span class="text-primary"> 2017</span></div>
            </div>
        </div>
    </section>
    <hr class="m-0" />
  
    <!-- Contact-->
    <section class="resume-section" id="contact">
        <div class="resume-section-content">
            <h2 class="mb-5">Contact Me</h2>
            
            <div class="social-icons">
                <a class="social-icon" href="#!"><i class="fab fa-linkedin-in"></i></a>
                <!-- <a class="social-icon" href="#!"><i class="fab fa-github"></i></a>
        <a class="social-icon" href="#!"><i class="fab fa-twitter"></i></a>-->
                <a class="social-icon" href="#!"><i class="fab fa-facebook-f"></i></a>
            </div>
            <br /><br />
            <h3 class="mb-0">Contact Form </h3><br />
            @using (Html.BeginForm())
            {
                <div>
                    <form method="post">
                        <div class="form-group">
                            @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label col-md-2" })
                            @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "col-md-6" } })
                            <span asp-validation-for="Name"
                                  class="text-muted"></span>
                        </div><br />
                        <div class="form-group">
                            @Html.LabelFor(model => model.Email, htmlAttributes: new { @class = "control-label col-md-2" })
                            @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "col-md-6" } })
                            <span asp-validation-for="Email"
                                  class="text-muted"></span>
                        </div><br />
                        <div class="form-group">
                            @Html.LabelFor(model => model.Subject, htmlAttributes: new { @class = "control-label col-md-2" })
                            @Html.EditorFor(model => model.Subject, new { htmlAttributes = new { @class = "col-md-6" } })
                            <span asp-validation-for="Subject"
                                  class="text-muted"></span>
                        </div><br />
                        <div class="form-group">
                            @Html.LabelFor(model => model.Message, htmlAttributes: new { @class = "control-label col-md-2" })
                            @Html.TextAreaFor(model => model.Message, 5, 50, new { htmlAttributes = new { @class = "col-md-10" } })

                            <span asp-validation-for="Message"
                                  class="text-muted"></span>
                        </div><br />
                        <div>
                            <button type="submit"
                                    class="btn btn-success">
                                Submit
                            </button>
                        </div>

                    </form>
                </div>

            }
        </div>
    </section>
</div>


